.btn-icon {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  margin: 1rem !important;
}

.icon {
  padding-right: 10px;
  padding-left: 0px;
  padding-bottom: 5px;
}

.icon-reset {
  padding-bottom: 3px;
}
