.footer {
  position: absolute;
  bottom: 0;
  width: 99%;

  padding: 1rem 0;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  color: #777;
  font-size: 0.8rem;
  text-align: center;
}
