.product-list {
  list-style: none;
  margin: 0;
  padding: 1rem;

  display: grid;
  grid-gap: 5rem 1rem;

  padding-top: 2rem;
  padding-bottom: 14rem;

  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

  @media (min-width: 360px) {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }

  @media (min-width: 4000px) {
    padding-top: 2rem;
    grid-gap: 15rem 1rem;
  }
}
